html {
    scroll-behavior: smooth;
}
section#section-blog1 {
    background-color: #a93644;
    color: #fff;
}

div#img-blog-destaque {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.col-lg-6 a {
    color: #000;
    text-decoration: none;
}

div#img-blog {
    background-repeat: no-repeat;
    height: 100%;
    background-size: contain;
    background-position: left;
}

.blog-conteudo p {
    font-size: 10pt;
}

.blog-conteudo h4 {
    font-size: 15pt;
}

.blog-conteudo {
    max-width: 21rem;
    text-align: justify;
    margin-top: 10px;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10rem;
    margin-right: 4rem;
}

@media (max-width: 992px) {
    .row2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

button.btn-blog {
    border: solid 1px #fff;
    padding: 10px 20px;
    background: none;
    color: #fff;
    text-transform: uppercase;
}


/* ALTERAÇÕES DO JOÃO - 2 de julho de 2020  */

/* Responsividade da página Home, "conteudo-imgs-section2" */

div#conteudo-imgs-section2 {
    margin-top: 3vw;
}

.texto-flutuante {
    float: left;
    margin-top: 1vw;
    margin-left: 3rem;
    padding: 0;
}

@media (max-width: 692px) {
    .texto-flutuante {
        margin:0px;
    }
}

#img-grupo-new {
    background-image: url(../../img/pessoas.png);
    height: 12vw;
    background-repeat: no-repeat;
    width: 50%;
    background-size: contain;
    background-position: center;
    float: left;
}
#img-casal-new {
    background-image: url(../../img/casal.png);
    height: 12vw;
    background-repeat: no-repeat;
    width: 50%;
    background-size: contain;
    background-position: center;
    float: left;
}
.quadro-left {
    margin-left: auto !important;
    display: table;
    width: 480px;
    margin-right: auto !important;
}
.quadro-right {
    margin-left: auto !important;
    display: table;
    width: 480px;
    margin-right: auto !important;
}
#conteudo-section2 hr {
    width: 14vw;
    height: auto !important;
    margin-left: auto !important;
    background: #f70000;
    margin-right: auto !important;
}
.texto-flutuante p {
    text-align: left !important;
}
.coluna-img {
    margin-bottom: 4rem;
}
.milagre div#conteudo-section2 {
    margin-top: 400px !important;
}
.botao-animado.animate__animated.animate__rubberBand.animate__delay-2s {
    width: 12vw;
    height: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
}
.overlay {
    transition-duration: 1s;
    background-color: rgba(0,0,0,0.0);
    width: 0%;
    height: 0%;
    margin: auto;
}
p.title-over {
    transition-duration: 1s;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: rgba(0,0,0,0.0);
}
.img-blog:hover .overlay{
    transition-duration: 1s;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
}
.img-blog:hover .title-over{
    transition-duration: 3s;
    color: white;
}

@media(max-width: 1600px){
    div#conteudo-imgs-section2 {
        margin-top: 3rem;
    }
    .texto-flutuante {
        float: left;
    }
    .texto-flutuante {
        float: left;
        margin-top: 1rem;
    }
    #img-grupo-new {
        height: 12rem;
        background-repeat: no-repeat;
        width: 50%;
        background-size: contain;
        background-position: center;
        float: left;
    }
    #img-casal-new {
        height: 12rem;
        background-repeat: no-repeat;
        width: 50%;
        background-size: contain;
        background-position: center;
        float: left;
    }
    #conteudo-section2 hr {
        width: 14rem !important;
        height: auto;
        margin-left: auto !important;
        background: #f70000;
        margin-right: auto !important;
    }
    .botao-animado.animate__animated.animate__rubberBand.animate__delay-2s {
        width: 12rem;
        height: 5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
}
@media(max-width: 1199px){
    .milagre div#conteudo-section2 {
        margin-top: 0px !important;
    }
    .botao-animado.animate__animated.animate__rubberBand.animate__delay-2s {
        margin-top: 3rem;
    }
}
@media (max-width: 600px){
    .botao-img {
        bottom: 5px !important;
    }
    .botao-img {
        transform: unset !important;
    }
}
@media(max-width: 500px){
    #img-casal-new {
        height: 8rem;
        background-repeat: no-repeat;
        width: 50%;
        background-size: contain;
        background-position: center;
        float: left;
        margin-top: 0rem;
    }
    #img-grupo-new {
        height: 8rem;
        background-repeat: no-repeat;
        width: 50%;
        background-size: contain;
        background-position: center;
        float: left;
        margin-top: 0rem;
    }
    .quadro-left {
        width: 334px;
    }
    .quadro-right {
        width: 334px;
    }
    #img-grupo-new {
        width: 38%;
    }
}
@media(max-width: 400px){
    .quadro-left {
        width: auto;
    }
    .quadro-right {
        width: auto;
    }
    #img-grupo-new {
        width: 50%;
    }
}

/* FIM DAS ALTERAÇÕES DO JOÃO - 2 de julho de 2020  */