.img-single-background {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
}

div#img-single {
    height: 25vw;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.legend {
    text-align: center;
    margin-top: 20px;
    font-size: 13pt;
    text-transform: capitalize;
}

h4.titulo-single {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24pt;
    text-transform: uppercase;
}

section#single {
    background: #a93644;
    color: #fff;
    margin-bottom: 13px;
    padding: 10px;
}

#btn_all_blogs {
    margin: 3rem auto;
    background: #055199;
    border-radius: 0.3rem;
}

#all_btn_blogs {
    color: #fff;
}

#btn_all_blogs:hover {
    background-color: #a93644;
    transition: .5s;
}

.conteudo-single {
    margin-top: 2rem;
    text-align: justify;
    letter-spacing: 2px;
}

#share-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

#share-post i {
    margin: 1px 10px;
    color:#fff;
}


#share-post .face:hover {
    color:#3b5998;
}

#share-post .linkedin:hover {
    color:#0091ca;
}

#share-post .whats:hover {
    color:#00bfa5;
}


#share-post a {
    text-decoration: none;
}

/* JOAO VTOR ALTERAÇÕES -  2 de julho de 2020*/
/* Página de notícias - Estilização */
section#single {
    background: #ffffff;
    color: #747373;
    margin-bottom: 13px;
    padding: 10px;
}
section#section2-single {
    background-color: #e9e7e7;
}
.mb-5 {
    margin-top: 2vw;
}

.conteudo-single img {
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-bottom: 3vw;
    margin-top: 1vw;
}

.overlay {
    transition-duration: 1s;
    background-color: rgba(0,0,0,0.0);
    width: 0%;
    height: 0%;
    margin: auto;
}

p.title-over {
    transition-duration: 1s;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: rgba(0,0,0,0.0);
}

.img-blog:hover .overlay{
    transition-duration: 1s;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
}
.img-blog:hover .title-over{
    transition-duration: 3s;
    color: white;
}
.legend {
    text-align: left;
    margin-top: 0 !important;
    text-transform: capitalize;
    margin-left: 1vw;
    float: left;
    font-size: 0.9vw;
}
div#share-post {
    float: none !important;
    margin-bottom: 2vw;
    margin-top: 2vw;
}
#share-post i {
    color: #a93644;
}
div#share-post {
    float: none !important;
    margin-bottom: 2vw;
    margin-top: 2vw;
    display: table;
    margin-left: auto;
}
.conteudo-single {
    margin-left: auto;
    margin-right: auto;
}
.conteudo-single p, .conteudo-single h2, .conteudo-single h1{
    font-family: 'Open Sans', sans-serif;

}
p.content-media__description {
    font-style: italic;
    color: black;
}
h4.titulo-single {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: black;
    margin-top: 3% !important;
}
.legend {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: black;
}
textarea#comment {
    width: 100% !important;
}
input#author {
    width: 100%;
}
input#email {
    width: 100%;
}

@media(max-width: 1600px){
  .conteudo-single img {
        margin-left: auto;
        margin-right: auto;
        display: table;
        width: 88%;
        margin-bottom: 3rem;
        margin-top: 1rem;
    } 
    .legend {
        text-align: left;
        margin-top: 20px;
        text-transform: capitalize;
        margin-left: 1rem;
        float: left;
        font-size: 0.9rem;
    }
    div#share-post {
        float: none !important;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}
@media(max-width: 992px){
    .legend {
        float: none;
        text-align: center;
        width: 100%;
        margin-left: 0;
        position: unset;
    }
    div#share-post {
        margin-left: auto;
        margin-right: auto;
    }
}
/* FIM JOAO VTOR ALTERAÇÕES -  3 de julho de 2020*/